/* Technologies.module.css */
.container {
    text-align: center;
  }
  
  .color {
    /* background: linear-gradient(to right, #ffffe0, #fffacd, #fff8b5, #ffeb99); */
    background-color: white;
    padding: 50px 0px;
}
  .text {
    font-size: 46px;
  }

  .flex_container{
    display: flex;
    margin-top: 50px;
    align-items: center;
    
  }

  .left_container{
    flex: 1;

  }

  .left_container h3 {
    width: 80%;
    font-size: 16px;
    font-weight: 400;
  }

  .left_container h2 {
    margin: 15px 0px;
    font-size: 32px;
  }
  

  .right_container {
    flex: 1;
  }
  .right_container img{
    width: 100%;
    margin-top: 100px;
}

.first-delay {
    animation-delay: 3s;
}

.para {
    margin: 20px 0px 100px 0px;
}
