.container {
  text-align: center;
  background: linear-gradient(135deg, #4b2ae7, hsl(46, 94%, 58%));
  padding: 50px 20px;
}

.para {
  font-size: 1.2em;
  margin-bottom: 10px;
  color: #fff;
}

.text {
  font-size: 46px;
  line-height: 3rem;
  color: #fff;
}

.marquee {
  position: relative;
  margin: 50px 0px;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.marqueeInner {
  display: flex;
  width: fit-content;
  animation: marquee 20s linear infinite;
}

.circle {
  width: 120px;
  height: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 10px;
}

.circle img {
  width: 70%;
  height: auto;
  object-fit: contain;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@media (max-width: 768px) {
  .text {
    font-size: 32px;
    line-height: 2.5rem;
  }

  .circle {
    width: 80px;
    height: 80px;
  }

  .circle img {
    width: 60%;
  }
}

@media (max-width: 576px) {
  .text {
    font-size: 24px;
    line-height: 2rem;
  }

  .circle {
    width: 60px;
    height: 60px;
  }

  .circle img {
    width: 50%;
  }
}
