.color {
     background: linear-gradient(to right, #ffffe4, #fffacd, #fff8b5, #ffeb99); 
     padding: 100px 0px;
     margin-top: 100px;
}


.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}
.btn{
    all: unset;
    background-color: var(--rething-purple);
    color: white;
    font-family: 16px;
    padding: 14px 62px;
    border-radius: 50px;    
}


