@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import 'bootstrap/dist/css/bootstrap.min.css';

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif; /* Apply Roboto font globally */
}


:root {
  --rething-yellow: #f3d30d;
  --rething-purple: #724cf9;
  --rething-white: #fff;
  --rething-black: #000;
  --rething-dark: #252626;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-color: #000; /* Black background for the body */
  color: #fff;
}

h1 {
  font-size: 60px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timeline {
  height: 300px;
  width: 5px;
  background-color: #e5e5e5;
}

.stub2 {
  height: 1000px;
}

.circle {
  width: 30px;
  height: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 50%;
  background-color: #e5e5e5;
}

.circleWrapper {
  position: relative;
}

.message {
  position: absolute;
  top: 20%;
  left: 50%;
  min-width: 150px;
  font-weight: bold;
}


