.banner_container {
  background: linear-gradient(to right, #724cf9, #f3d30d);
  margin-top: 90px;
  height: 60px;
  display: flex;
  align-items: center;
  margin-top: 90px;
  justify-content: center;
}

.banner_container h2 {
  color: white;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

/* Adjust font size for responsiveness */
@media (max-width: 768px) {
  .banner_container h2 {
    font-size: 16px;
  }
}

@media (max-width: 576px) {
  .banner_container h2 {
    font-size: 14px;
  }
}
