.banner_container {
    background: linear-gradient(to right, #724cf9, #f3d30d);
    margin-top: 90px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .banner_container h2 {
    color: white;
    font-size: 18px;
  }